name: Build and test Arborize

on: [push]

jobs:
  build:
    name: test py${{ matrix.py }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        py: ["3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout
    - name: Set up Python ${{ matrix.py }}
      uses: actions/setup-python
      with:
        python-version: ${{ matrix.py }}
    - name: Install apt dependencies
      run: |
        sudo apt-get update
        sudo apt-get install openmpi-bin libopenmpi-dev
    - name: Cache pip
      uses: actions/cache
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-
    - name: Install dependencies & self
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install -r requirements.txt --prefer-binary
        pip install -e .
    - name: Run tests & coverage
      run: |
        coverage run --parallel-mode -m unittest
        mpiexec -n 2 coverage run --parallel-mode -m unittest
        bash <(curl -s https://codecov.io/bash)
